<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Change Password</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="change-password-form">
                <form action="/change_password" method="POST">
                    <h1>Change Password</h1>
                    <div class="input-group">
                        <label for="current_password">Current Password</label>
                        <input type="password" name="current_password" id="current_password">
                    </div>
                    <div class="input-group">
                        <label for="new_password">New Password</label>
                        <input type="password" name="new_password" id="new_password">
                    </div>
                    <button type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
