<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Create_todo</title>
</head>
<body>
        <div class="nav">
            <h1>Create-todo</h1>
            <div class="navitem">
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Signout</a></li>
                </ul>
            </div>
        </div>
        <div class="Create-todo" style="margin-top: 20px;">
            <form action="/create_todo" method="POST">
                <label for="todoname">Enter Task Name</label>
                <input type="text" name="todoname" id="todoname">
                <h2>Add Task Description</h2>
                <textarea id="task" name="task" rows="4" cols="50" placeholder="Enter task description..."></textarea>
                <button type="submit">Add in list</button>
            </form>
        </div>
</body>
</html>