body{
    font-family: sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}


.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-group {
    margin-right: 15px;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    display: block;
    width: 40%;
    margin-left: 30%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 15px;
    text-align: center;
}

.signup-link a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}


.Dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}


.nav {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.nav h1 {
    font-size: 24px;
    margin: 0;
}

.navitem ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navitem ul li {
    display: inline;
    margin-right: 20px;
}

.navitem ul li:last-child {
    margin-right: 0;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.Active-tasklist-block {
    background-color: #fff;
    width: 80%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.Active-tasklist-block h1 {
    font-size: 24px;
    margin: 0;
    padding-left: 10px;
}


.completd-task-list {
    background-color: #fff;
    width: 80%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.completd-task-list h1 {
    font-size: 24px;
    margin: 0;
    padding-left: 10px;
}


.create-task-block {
    background-color: #007BFF;
    width: 80%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.create-task-block h1 {
    font-size: 36px;
    margin: 0;
    color: #fff;
}

.create-task-block a {
    text-decoration: none;
    color: #fff;
}


body {
    margin: 0;
    padding: 0;
}


.nav {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.nav h1 {
    font-size: 24px;
    margin: 0;
}


.Create-todo {
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.Create-todo label {
    display: block;
    font-weight: bold;
}

.Create-todo input[type="text"],
.Create-todo textarea {
    width: 100%;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

.Create-todo textarea {
    resize: vertical;
}

.Create-todo button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0%;
}

.Create-todo button:hover {
    background-color: #0056b3;
}

.profile_image{
    margin-top: 20px;
    margin-left:40px;
    width:60%;
    height:300px;
    border:1px solid black;
    border-radius: 50%;
}

.profile button{
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0%;
}

.profile_container{
    height:600px;
    display:flex;
}

.profile{
    width:40%;
    height:500px;
}

.profile_text{
    margin-left: 80px;
}

.profile_data{
    width:40%;
    height:500px;
    /* border: 5px solid black; */
}

.profile_image img{
    width:100%;
    height:300px;
    border:1px solid black;
    border-radius: 50%;
}

.change-password-link {
    margin-top: 15px;
}

.change-password-link a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.change-password-link a:hover {
    text-decoration: underline;
}